<header>
  <div class="container">
    <a routerLink="/" class="logo">Deli Food!</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Fran</a>
          <div class="menu">
            <a routerLink="/profile">Perfil</a>
            <a routerLink="/orders">Pedidos</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart">Carrito <span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
